@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  background: #5a5369;
  background: linear-gradient(147deg, rgba(90, 83, 105, 0.8) 54%, rgba(253, 29, 29, 0.75) 54%, rgba(253, 54, 36, 1) 100%, rgba(252, 176, 69, 1) 100%);
  background-attachment: fixed;
}

:root {
  --menu-text: white;
}

.container {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: 50px 300px 150px;
}

.container header {
  grid-area: header;
  height: 200px;
}

.container header ol {
  display: flex;
  justify-content: center;
}

.container header ol li {
  list-style-type: none;
}

.container header ol li a {
  color: var(--menu-text);
  padding: 20px;
  text-decoration: none;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 75vw;
  justify-content: center;
  gap: 15px;
}

main h1,
p, 
h2  {
  text-align: center;
  color: white;
}

main img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
}

footer {
  grid-area: footer;

}

@media screen and (min-width: 960px) {
  .container {
    grid-template-rows: 35px 650px 300px;
    place-items: center;
  }
  .container header {
    height: 35px;
  }

  main img {
    border-radius: 12px;
    width: 300px;
    height: 300px;
  }

  main {
    align-items: center;
    gap: 35px;
    grid-template-columns: repeat(2, 300px);
  }

  li:hover a:hover {
    background: white;
    color: black;
  }

  li  {
    display: flex;
  }

  blockquote {
    width: 90%;
  }

  blockquote p {
    font-style: italic;
   
  }

}