@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #EFF1F3;
}

body {
  background: #5a5369;
  background: linear-gradient(0deg, #272727 54%, #bf0603 54%, rgba(253, 54, 36, 1) 100%, rgba(252, 176, 69, 1) 100%);
  background-attachment: fixed;
}

:root {
  --menu-text:  #EFF1F3;
}

.container {
  display: grid;
  grid-template-areas: "header header header" "main main main";
  grid-template-rows: 10px 600px 150px;
}

.container header {
  position: fixed;
  top: 0;
  grid-area: header;
  height: 30px;
  width: 100vw;
}

.container header ol {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.container header ol li {
  list-style-type: none;
}

.container header ol li a {
  padding: 10px;
  color: var(--menu-text);
  padding: 20px;
  text-decoration: none;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(1, 90vw);
  justify-content: center;
  gap: 15px;
}

main h1,
p, 
h2  {
  text-align: center;
  color: white;
  animation: slidein 1.3s;
}

main img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
}



@media screen and (min-width: 960px) {
  body {
    background: linear-gradient(35deg, #272727 54%, #bf0603 54%, rgba(253, 54, 36, 1) 100%, rgba(252, 176, 69, 1) 100%);
  background-attachment: fixed;
  }
  
  .container {
    grid-template-rows: 35px 800px 80px;

  }
  .container header {
    height: 50px;
    border-radius: 10px;
  }

  main img {

    border-radius: 40%;
    width: 500px;
    height: 500px;
  }

  main img:hover {
    animation: img 1.5s;
    width: 700px;
    height: 700px;
  }

  main {
    align-items: center;
    grid-template-columns: repeat(2, 500px);
  }

  main #resume:hover {
    animation: resumeSize 1.2s;
    font-size: 1.3rem;
  }

  li:hover a:hover {
    background: white;
    color: black;
  }

  li  {
    display: flex;
  }

  blockquote {
    width: 90%;
  }

  blockquote p {
    font-style: italic;
    font-size: 1.2rem;
    
  }

}


@keyframes slidein {
  from {
    margin-right: 300px;
  }

  to {
    margin-right: 0px;
  }
}

@keyframes img{ 
  from {
    width: 500px;
    height: 500px;
  }

  to {
    width: 700px;
    height: 700px;
  }
}

@keyframes resumeSize{ 
  from {
    font-size: 1rem;
  }

  to {
   
    font-size: 1.3rem;

  }
}